diffusers==0.15.0
interegular==0.3.2
Jinja2==3.1.2
json5==0.9.14
lark==1.1.7
numpy==1.24.3
perscache==0.6.1
Pillow==9.3.0
pytest==7.3.0
Requests==2.31.0
scipy==1.11.3
tenacity==8.2.3
tiktoken==0.4.0
transformers==4.35.0
outlines==0.0.9
accelerate==0.24.1
fastapi
logzero==1.7.0
orjson
referencing==0.30.2
pydantic==1.10.7
torch==2.1.0
deepspeed==0.12.2
flash-attn==2.0.4
addict==2.4.0
vllm==0.2.2