diffusers==0.15.0
interegular==0.3.2
Jinja2==3.1.2
json5
lark==1.1.7
numpy
perscache==0.6.1
Pillow
pytest
Requests
scipy
tenacity
tiktoken
transformers==4.35.0
outlines==0.0.11
accelerate==0.24.1
fastapi
logzero==1.7.0
orjson
packaging
referencing==0.30.2
torch==2.1.0
deepspeed==0.12.2
addict==2.4.0
cachetools==5.3.0
datasets==2.11.0
ray
pandas 
pyarrow