*.egg-info

**/__pycache__

workspace_cache/

XAgent/logs/
running_records/

XAgentServer/localstorage
XAgentServer/logs/
XAgentServer/prod_server_envs.py

.DS_Store
.vscode
.idea
*_running_records

data/**
data/server.db
ToolServerNode/logs/**
**/workspace/**
download_tmp_file
local_workspace/**
!local_workspace/readme.md
sync.py
assets/private.yml