beautifulsoup4
charset_normalizer
colorama
docker
docstring_parser
duckduckgo_search
fastapi
func_timeout
GitPython
google_api_python_client
httpx[http2]
Markdown
numpy
orjson
playwright
pydantic
pylatexenc
PyPDF2
PyYAML
Requests
scikit_learn
slowapi
spacy
tiktoken
tqdm
xmltodict
uvicorn
openai
tenacity
trafilatura
python-multipart
nbclient
ipykernel
pandas
matplotlib
seaborn
plotly
scipy
