.DS_Store
**/.DS_Store
.DS_Store?


/build
/dist
/node_modules
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
.env.test.local
tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
yarn.lock
yarn.lock
*.lock
yarn.lock
package-lock.json
src/api/backend.ts
