@keyframes fadeInBottom {
  0% {
    opacity: var(--fade-opacity, 0);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate_animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scaleNormal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes loadingDot {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
